@font-face{
    font-family: 'calculadora';
    src: url(../Fuentes/Calculator.ttf);
}

h1{
    animation-name: colorcitos;
    animation-duration: 10s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
}
@keyframes colorcitos {
    0%{color: #000000;}
    10%{color:#E74C3C;}
    20%{color:#8E44AD;}
    30%{color:#3498DB;}
    40%{color:#16A085;}
    50%{color:#2ECC71;}
    60%{color:#F39C12;}
    70%{color:#D35400;}
    80%{color:#BDC3C7;}
    90%{color:#7F8C8D;}
    100%{color:#2C3E50;}
}
.calculadora{
    background-color: #434250;
    border-radius: 25px;
    padding: 10px;
    padding-top: 25px;
    width: 310px;
    margin-left: 36.5%;
}

button{
    border-radius: 25px;
    padding:20px;
    width:65px;
    height:65px;
    padding:5px;
    font-size:35px;
    border:none;
    color: white;
}

input{
    font-family: 'calculadora';
    width:280px;
    background-color: #7B8C73;
    border: 5px solid black;
    font-size: 4rem;
    text-align: right;
}
.operador{
    background-color: #7F7B7B;
    box-shadow: 6px 6px 5px black;
    transition: 0.2s ease;
}
.operador:active{
    background-color:#676464;
    box-shadow: 3px 2.5px 3px black;
}
.Fino{
    background-color: #E69D2E;
    box-shadow: 6px 6px 5px black;
    transition: 0.2s ease;
}
.Fino:active{
    background-color: #C78829;
    box-shadow: 3px 2px 3px black;
}
.teclas{
    background-color: #363640;
    box-shadow: 6px 6px 5px black;
    transition: 0.2s ease;
}
.teclas:active{
    box-shadow: 3px 2.5px 3px black;
    background-color: #4F4F58;
    padding:5px;
}
td{
   padding-left:7px;
}